p {
    margin: 0;
}

.top-layer,
.middle-layer,
.save {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-layer{
    margin-bottom: 30px;
}

.add_new_clips{
    margin-top: 40px;
}
.questions {
    margin-top: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: flex;
    flex-direction: column;
}

.questions-box {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.questions_title,
.questions_needs,
.questions_tag {
    width: 100%; 
    height: 50px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(147, 190, 127, 1);
    border-width: 2px;
    padding-left: 20px;
    vertical-align: top;
    line-height: 1px;
    margin-top: 0;
}


.questions_needs {
    height: 70px;
}

.new_clips {
    width: 504px;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 30px;
    color: rgba(226, 232, 240, 1);
}

.save-button{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border-style: solid;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    color: white;
    background-color: rgba(38, 187, 164, 1);
    border: none;
}
.save-button:hover{
    opacity: 0.7;
}
.save-button:active{
    opacity: 0.3;
}